* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* *ROOT */
:root {
    --main-height: 50px;
    --bigger-height: 60px;
}


/* *GENERALS*/
body {
    height: 100vh;
    font-family: 'Lato', sans-serif;

    background: rgb(62,62,62);
    background: linear-gradient(0deg, rgba(62,62,62,1) 85%, rgba(0,150,136,1) 85%, rgba(0,150,136,1) 85%);
}

.container {
    height: 710px;
}

i {
    cursor: pointer;
}


/* *CONTACTS SIDE LEFT */
.contacts-side {
    height: 100%;
    width: 40%;

    background-color: rgb(234,234,234);
    overflow: scroll;
    overflow-x: hidden;
}

.my-account {
    height: var(--main-height);
    background-color: rgb(234,234,234);
}

.notification {
    height: var(--bigger-height);
    background-color: rgb(142,218,252);
}

.rounded-pic {
    height: 45px;
    width: 45px;

    background-color: rgb(228, 228, 228);
}

.enable-notification {
    height: var(--bigger-height);
    max-width: 100%;
    font-size: small;
}

.input-box {
    background-color: rgb(234,234,234);
}

.contacts {
    background-color: rgb(234,234,234);
}

.contacts:hover {
    background-color: rgb(215, 215, 215);
}

.contact-chat {
    height: var(--bigger-height);
    cursor: pointer;
}

.contact-name {
    font-size: medium;
}

.last-message {
    font-size: x-small;
}

/* *CHAT SIDE RIGHT */
.chat-side {
    height: 100%;
    width: 60%;
}

.chat-header {
    height: var(--main-height);
    background-color: rgb(234,234,234);
}

.active-chat {
    height: calc(100% - var(--main-height) - var(--main-height));
    width: 100%;
    
    background-image: url(../img/mine.jpg);
    overflow: scroll;
    overflow-x: hidden;
}

.message {
    max-width: 60%;
    position: relative;    
} 

.green {
    align-self: flex-end;

    background-color: #D5F9BA;
}

.white {
    align-self: flex-start;

    background-color: rgb(241, 241, 241);
}

.message-time {
    font-size: 10px;
    color: rgb(155, 155, 155);;
    display: inline-block;

    min-width: 100%;
}

.message-box {
    height: var(--main-height);

    background-color: #F3EEEA;
}

.message-input {
    width: 80%;
}